.body-web{
   background-color: white;

}
.logo-inicio{
  
   justify-content: center;
   margin-left: 30px;
}
.bg-light{
    background: white !important;
}


.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
}
.product-container{
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    background-color: #F7F5F0;
    border-radius: 15px;
}

.product-container h1{
    font-family: 'Poppins'!important;
    font-style: normal!important;
    font-weight: 600!important;
    font-size: 24px!important;
    line-height: 36px!important;
/* identical to box height */


    color: #FF8126!important;
}

.product-container h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #1F1F1F;
}

.button-usuario{
    background-color: transparent;
    border: none;
}
.rigth-content-nav{
    display: flex;
   
}
.d-flex{
    height: 54px;
}
.carrito-botton{
    margin-left: 5px;

}
.carrito-botto:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   
  }

.page-content button{
   display: flex;
   padding: 10px 20px;
   position: absolute;
    right: 15px;
    bottom: 9px;
}

.product-container:hover {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2);
   
  }
.product-container img{
    width: 300px;
    margin: 5px;
}
